@model List<Marca>

    <h1>Marcas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var marca in Model){
                <tr>
                    <td>@Html.DisplayFor(m=>marca.Marca1 )</td>
                </tr>
            }
        </tbody>
        
    </table>